.search_form{
    display: flex;
    width: 30%;
    align-items: center;
    display: flex;
}
.search_input{
    width: 100%;
    font-size: 20px;
}
.input_search{
    width: 30px;
    height: 30px;
    margin: 6px;
    font-size: 10px;
}