.input{
    display: flex;
    width: 100%;
    align-items: center;
}
.input__box{
    width: 100%;
    font-size: 15px;
    padding: 7px 2px;
    justify-content: space-around;
}
.input__submit{
    width: 50%;
    height: 40px;
    
    font-size: 15px;
    padding: 7px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}