.input{
    display: flex;
    width: 50%;
    align-items: center;
}
.input__box{
    width: 100%;
    font-size: 15px;
    padding: 7px 2px;
    justify-content: space-around;
}
.input__submit{
    width: 30px;
    height: 30px;
    margin: 6px;
    font-size: px;
}